<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthday wishing page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="static/css/custom.css" th:href="@{css/custom.css}"/>
    <link rel="icon" href="../../static/images/icon.png"/>
</head>
    <body>
   	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{user-{id}(id=${user.id})}">Birthday wishes</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{user-{id}(id=${user.id})}">Home</a></li>
            </ul>

			<form th:object="${user}" th:action="@{/find}" class="navbar-form navbar-left" action="#" method="">
				<input type="text" name="name" class="form-control" placeholder="Find user by name" />
				<input type="submit" class="btn btn-success" value="Search"/>
			</form>
            <ul class="nav navbar-right">
                <li class=" btn-primary"><a th:href="@{/update-user-{id}(id=${user.id})}">Account</a></li>
                <li class=" btn-info"><a href="/">Log out</a></li>
            </ul>
		</div>
	</nav>
    <h1>Wishes</h1>
        <table class="table table-fit">
            <thead class="">
            <tr>
                <th>Wish</th>
                <th>Priority</th>
                <th>Link</th>

            </tr>
            </thead>
            <tr th:each = "wish,iter:${wishes}">
                <td th:text="${wish.wishes}"></td>
                <td th:text="${wish.priority}"></td>
                <td>
                <span th:utext="${links[iter.index]}"></span>
                </td>
                <td><a th:href="@{/update-wish-{id}(id=${wish.id})}" class="btn btn-primary">Update</a></td>
                <td><a th:href="@{/deletewish-{id}(id=${wish.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    <a th:href="@{/addwish-{user_id}(user_id=${user.id})}" class="btn btn-info">Add wish</a>


    </body>
</html>