<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthday wishing page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" media="screen" href="static/css/custom.css" th:href="@{css/custom.css}"/>
	</head>
	<ul>
	<li><a href="">Home</a></li>
	<li><a href="news.asp">About</a></li>
	<li><a href="contact.asp">Contact</a></li>
	<li class="rightli active" style="float:right"><a href="/registration">Sign up</a></li>
	</ul>
	<body>
	<div class="reg">
	<a href="/registration" class="reg-button btn btn-success">New User? Add account</a>
	</div>
	</body>
</html>