<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthday wishing page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

</head>
<body>
	<h1>New User</h1>
	<div>
		<form th:object="${user}" th:action="@{save}" action="#" method="post">
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" class="form-control" placeholder="Name"/></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
				</tr>
				<tr>
                    <td>Email:</td>
					<td><input type="text" th:field="*{email}" class="form-control"	placeholder="Email" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-success" value="Save"/></td>
                </tr>
            </table>
        </form>
	</div>
</body>
</html>