<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Birthday wishing page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="static/css/custom.css" th:href="@{css/custom.css}"/>
	<link rel="icon" href="../../static/images/icon.png"/>
</head>
	<body>
		<header>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" th:href="@{user-{id}(id=${user.id})}">Birthday wishes</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a th:href="@{user-{id}(id=${user.id})}">Home</a></li>
					</ul>

					<form th:object="${user}" th:action="@{/find}" class="navbar-form navbar-left" action="#" method="">
						<input type="text" name="name" class="form-control" placeholder="Find user by name" />
						<input type="submit" class="btn btn-success" value="Search"/>
					</form>
					<ul class="nav navbar-right">
						<li class=" btn-primary"><a th:href="@{/update-user-{id}(id=${user.id})}">Account</a></li>
						<li class=" btn-info"><a href="/">Log out</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div th:if="${user}">
			<h1 th:text="${user.name}"></h1>
			<div>
				<table class="table table-striped">
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
					<tr>
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
					</tr>
				</table>
			</div>
			<a th:href="@{wishes-{user_id}(user_id=${user.id})}" class="btn btn-primary">Wishes</a>
			<a th:href="@{delete/{user_id}(user_id=${user.id})}" class="btn btn-danger">Delete account</a>
		</div>
		<div class="footer">
			<div class="container text-center">
				<a class="btn btn-social-icon btn-twitter"><span class="fa fa-2x fa-twitter"></span></a>
				<a class="btn btn-social-icon btn-vk"><span class="fa fa-2x fa-vk"></span></a>
				<a class="btn btn-social-icon btn-github"><span class="fa fa-2x fa-github"></span></a>
			</div>
		</div>
	</body>
</html>