<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Birthday wishing page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="static/css/custom.css" th:href="@{css/custom.css}"/>
	<link rel="icon" href="../../static/images/icon.png"/>
</head>
	<body>
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Birthday wishes</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
				</ul>

				<form th:object="${user}" th:action="@{/find}" class="navbar-form navbar-left" action="#" method="">
					<input type="text" name="name" class="form-control" placeholder="Find user by name" />
					<input type="submit" class="btn btn-success" value="Search"/>
				</form>

				<ul>
					<li class="rightli btn-info" style="float:right"><a href="/registration" >Sign up</a></li>
					<li class="rightli active" style="float:right"><a href="/login">Login</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div th:if="${users}">
		<div th:each="user :${users}">
			<h1 th:text="${user.name}"></h1>
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Wishes</th>
				</tr>
				<tr >
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td><a th:href="@{list-{user_id}(user_id=${user.id})}" class="btn btn-primary">Wishes</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div th:unless="${users}">
		<p>No user found</p>
	</div>


	<div class="footer">
		<div class="container text-center">
			<a class="btn btn-social-icon btn-twitter"><span class="fa fa-2x fa-twitter"></span></a>
			<a class="btn btn-social-icon btn-vk"><span class="fa fa-2x fa-vk"></span></a>
			<a class="btn btn-social-icon btn-github"><span class="fa fa-2x fa-github"></span></a>
		</div>

	</div>
	</body>
</html>