
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
.white{
    background-color: white;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
.right{
    float: right;
    background-color: #34a1af;
}
.reg{
    text-align:center;
    margin-top: 700px;
}
.reg-button{
    width: 400px;
    height:60px;
    font-size: 24pt;
    font-style:italic;
    font-family: Helvetica;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
nav{
    background-image: url("static/images/birthday.jpg");
}

.text {
    color: rgb(42, 0, 103);
    position: absolute;
    text-indent: 1.25cm;
    left:5%;
    right: 40%;
    height: auto;
}
h1{
    text-align: center;
}
.contact{
    left: 50px;
    right: 30px;
    font-family: Adobe Caslon Pro Regular,adobe-caslon-pro,serif;
    font-size: 24pt;
    text-align: justify;
}
body{
    background: url("../images/wish.jpg") no-repeat ;
    background-size: 120%;
}
.table-fit{
    width: 1px;
    white-space: nowrap;
}
input{
    width: auto !important;
}
.regform{
    position: relative;
    left: 42%;
}
.logform{
    position: relative;
    left: 43%;
}
td{
    padding: 5px; /* Поля вокруг текста */
}